@using BTCPayServer.Payments
@using BTCPayServer.Plugins.Decred.Payments
@using BTCPayServer.Services.Invoices
@inject BTCPayServer.Services.TransactionLinkProviders TransactionLinkProviders
@{
    var paymentEntities = Model as IEnumerable<PaymentEntity>;
    if (paymentEntities == null) return;

    var pmi = PaymentTypes.CHAIN.GetPaymentMethodId("DCR");
    var payments = paymentEntities.Where(p => p.PaymentMethodId == pmi).ToList();
    if (!payments.Any()) return;
}

@foreach (var payment in payments)
{
    var data = payment.Details?.ToObject<DecredLikePaymentData>();
    if (data == null) continue;

    var txLink = string.IsNullOrEmpty(data.TransactionId)
        ? null
        : TransactionLinkProviders.GetTransactionLink(pmi, data.TransactionId);

    <div class="transaction-info">
        <span class="badge bg-info">DCR</span>
        <span>@payment.Value DCR</span>
        @if (!string.IsNullOrEmpty(txLink))
        {
            <a href="@txLink"
               target="_blank" rel="noreferrer noopener"
               class="text-break">@data.TransactionId</a>
        }
        <span class="text-muted">(@data.ConfirmationCount confirmations)</span>
    </div>
}
